{% macro generate_menu(data, indent='') %}
  {% set menu_html = [] %}
  {% for label, link in data.items() %}
    {% if link is mapping %}  {# Check if the item is a dictionary #}
      {{ indent }}<li><a class="menu-item parent active" href="javascript:void(0)">{{ label }}</a>
      {{ indent }}  <ul class="child-menu hidden">
      {{ generate_menu(link, indent ~ '    ') }}  {# Recursive call for child items #}
      {{ indent }}  </ul>
      {{ indent }}</li>
    {% else %}
      {{ indent }}<li><a class="menu-item" href="{{ link }}">{{ label }}</a></li>
    {% endif %}
    {% if not loop.last %}  {# Add line break if not the last item in the loop #}
      {{ '' if menu_html else indent }}<br/>
    {% endif %}
  {% endfor %}
{% endmacro %}

{{ generate_menu(data) }}

